In [1]:
import pandas as pd
import pycountry
import random
import time
import requests

**Recap of awards for all countries**

In [20]:
df_filtered3 = pd.read_csv("df_filtered_final_pro.csv", encoding="UTF-8")

In [21]:
len(df_filtered3)

2880

In [22]:
df_filtered3.head(5)

,Index,Title,Award,Category,Published Date,URL,Stored Path,Description,Prize Level,Photographer,Award Year,Background,Story,Award Region,Award Category,Jury,Photographer_Country,Photo_Country
0,1,Not Specified,1955 Photo Contest,Not Specified,"28 August, 1955",https://www.worldpressphoto.org/getmedia/7ce98...,F:\Temp\1955\Mogens Haven\1.jpg,A competitor tumbles off his motorcycle during...,World Press Photo of the Year,Mogens Haven,1955,NaN,NaN,NaN,NaN,NaN,DK,DE
1,1,Not Specified,1956 Photo Contest,Photo Stories,"01 January, 1956",https://www.worldpressphoto.org/getmedia/b8294...,F:\Temp\1956\Helmuth Pirath\1.jpg,‘Sp?theimkehrer’: A German prisoner of war is ...,1st prize,Helmuth Pirath,1956,NaN,NaN,NaN,NaN,NaN,DE,DE
2,1,Not Specified,1956 Photo Contest,Spot News,"01 January, 1956",https://www.worldpressphoto.org/getmedia/92600...,F:\Temp\1956\Louis Garnade\1.jpg,A child is being rescued by the fire brigade f...,2nd prize,Louis Garnade,1956,NaN,NaN,NaN,NaN,NaN,GB,GB
3,1,Not Specified,1956 Photo Contest,Spot News,"08 August, 1956",https://www.worldpressphoto.org/getmedia/c45dd...,F:\Temp\1956\Antoine Rulmont\1.jpg,Family members wait for news about their loved...,1st prize,Antoine Rulmont,1956,NaN,NaN,NaN,NaN,NaN,BE,BE
4,1,Not Specified,1956 Photo Contest,Sports,"31 January, 1956",https://www.worldpressphoto.org/getmedia/bb85f...,F:\Temp\1956\Franz Votava\1.jpg,The famous Austrian alpine skier Tony Sailer d...,3rd prize,Franz Votava,1956,NaN,NaN,NaN,NaN,NaN,AT,IT

In [23]:
df_filtered3 = df_filtered3[df_filtered3['Photographer_Country'] != 'Unknown']
grouped = df_filtered3.groupby('Award Year')['Photographer_Country'].value_counts()
grouped = grouped.sort_values(ascending=False)

grouped

Award Year  Photographer_Country
1989        US                      27
1986        US                      26
1987        US                      24
1997        US                      23
1977        US                      21
                                    ..
2003        AR                       1
2002        ZA                       1
            IE                       1
            HU                       1
2023        ZA                       1
Name: Photographer_Country, Length: 913, dtype: int64

In [24]:
grouped = df_filtered3.groupby('Award Year')['Photographer_Country'].value_counts()
grouped = grouped.sort_values(ascending=False)
grouped = grouped.reset_index(name='Counts')  
grouped = grouped.set_index(['Award Year', 'Photographer_Country'])
grouped.index.set_names(['Award Year', 'Photographer_Country'], inplace=True)

In [25]:
grouped

                                 Counts
Award Year Photographer_Country
1989       US                        27
1986       US                        26
1987       US                        24
1997       US                        23
1977       US                        21
...                                 ...
2003       AR                         1
2002       ZA                         1
           IE                         1
           HU                         1
2023       ZA                         1

[913 rows x 1 columns]

In [26]:
import pandas as pd

# Using pivot_table
pivot = pd.pivot_table(grouped, values='Counts', index='Photographer_Country', columns='Award Year', aggfunc='count', fill_value=0)

# Calculate the cumulative quantity for each country
cumulative_sum = pivot.cumsum(axis=1)

In [27]:
cumulative_sum

Award Year,1955,1956,1957,1959,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Photographer_Country,,,,,,,,,,,,,,,,,,,,,
AF,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
AM,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
AR,0,0,0,0,0,0,0,0,0,0,...,16,16,16,17,17,17,17,18,19,20
AT,0,1,1,1,1,2,2,2,2,2,...,5,5,6,6,6,6,6,6,6,6
AU,0,0,0,0,0,0,0,0,0,0,...,26,27,28,29,30,31,32,33,34,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UY,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
VE,0,0,0,0,0,1,1,1,1,1,...,1,1,1,1,2,2,2,2,2,3
VN,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
ZA,0,0,0,0,0,0,0,0,0,0,...,21,21,22,23,23,24,25,25,25,26
ZW,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3

In [28]:
countries = pd.read_csv('https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv')
countries = countries[['alpha-2', 'name']]
countries.columns = ['Photographer_Country', 'Country Name']
df = cumulative_sum

# Convert the indices of the matrix dataframe to country names
df = df.rename(index=countries.set_index('Photographer_Country')['Country Name'])

df

Award Year,1955,1956,1957,1959,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Photographer_Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Armenia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
Argentina,0,0,0,0,0,0,0,0,0,0,...,16,16,16,17,17,17,17,18,19,20
Austria,0,1,1,1,1,2,2,2,2,2,...,5,5,6,6,6,6,6,6,6,6
Australia,0,0,0,0,0,0,0,0,0,0,...,26,27,28,29,30,31,32,33,34,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Venezuela (Bolivarian Republic of),0,0,0,0,0,1,1,1,1,1,...,1,1,1,1,2,2,2,2,2,3
Viet Nam,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
South Africa,0,0,0,0,0,0,0,0,0,0,...,21,21,22,23,23,24,25,25,25,26
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3

In [32]:
df.to_csv('my_data.csv', index=True)

In [13]:
df_filtered4 = pd.read_csv("Data_url.csv", encoding="UTF-8")

In [14]:
df_filtered4

,Country Name,Region,Image URL,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,Asia,https://public.flourish.studio/country-flags/s...,"755,783","796,042","838,885","884,370","932,848","984,301","1,038,888",...,"6,364,968","6,588,859","6,837,008","7,114,615","7,416,385","7,733,964","8,054,214","8,367,663","8,670,939","8,971,345"
1,Albania,Europe,https://public.flourish.studio/country-flags/s...,"493,982","513,592","530,766","547,928","565,248","582,374","599,300",...,"1,473,392","1,495,260","1,519,519","1,546,929","1,575,788","1,603,505","1,630,119","1,654,503","1,680,247","1,706,345"
2,Algeria,Africa,https://public.flourish.studio/country-flags/s...,"3,394,203","3,626,403","3,882,767","4,154,288","4,443,887","4,753,164","5,041,536",...,"23,041,887","23,700,349","24,393,852","25,124,194","25,888,503","26,674,438","27,465,760","28,248,180","29,016,679","29,770,548"
3,American Samoa,Oceania,https://public.flourish.studio/country-flags/s...,"13,251","13,652","14,163","14,769","15,416","16,072","16,721",...,"50,072","49,309","48,735","48,406","48,282","48,310","48,390","48,449","48,481","48,502"
4,Andorra,Europe,https://public.flourish.studio/country-flags/s...,"7,839","8,766","9,754","10,811","11,915","13,067","14,262",...,"74,640","75,097","75,007","74,309","73,059","71,527","70,066","68,921","68,199","67,845"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Virgin Islands (U.S.),Americas,https://public.flourish.studio/country-flags/s...,"18,355","19,847","20,734","24,120","25,276","27,526","29,839",...,"102,154","102,355","102,500","102,619","102,694","102,717","102,720","102,701","102,651","102,551"
211,West Bank and Gaza,Asia,https://public.flourish.studio/country-flags/s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,650,903","2,736,791","2,825,894","2,920,980","3,019,757","3,121,417","3,225,864","3,332,881","3,442,258","3,555,465"
212,"Yemen, Rep.",Asia,https://public.flourish.studio/country-flags/s...,"470,664","497,591","526,135","556,370","588,370","622,268","658,271",...,"6,845,303","7,166,799","7,501,290","7,848,984","8,209,828","8,583,158","8,967,058","9,360,649","9,763,156","10,174,671"
213,Zambia,Africa,https://public.flourish.studio/country-flags/s...,"552,487","595,111","641,150","692,846","760,165","832,839","911,290",...,"5,019,893","5,229,298","5,450,680","5,684,648","5,932,013","6,192,359","6,464,271","6,747,273","7,041,054","7,346,373"
214,Zimbabwe,Africa,https://public.flourish.studio/country-flags/s...,"472,468","496,270","523,204","561,146","601,709","644,773","690,528",...,"4,550,222","4,609,702","4,676,094","4,749,752","4,830,153","4,915,898","5,009,411","5,109,528","5,215,921","5,328,745"

In [29]:
df['Region'] = ''
df['Image URL'] = ''

for index, row in df.iterrows():
    country_name = df_filtered4[df_filtered4['Country Name'] == index]['Country Name']
    
    # If the corresponding Country Name is found, add the values ​​​​of the corresponding Region and Image URL columns to a new column of df
    if not country_name.empty:
        region = df_filtered4.loc[country_name.index[0], 'Region']
        image_url = df_filtered4.loc[country_name.index[0], 'Image URL']
        df.at[index, 'Region'] = region
        df.at[index, 'Image URL'] = image_url
    else:
        df.at[index, 'Region'] = 'Unknown'
        df.at[index, 'Image URL'] = 'Unknown'

In [30]:
df

Award Year,1955,1956,1957,1959,1961,1962,1963,1964,1965,1966,...,2016,2017,2018,2019,2020,2021,2022,2023,Region,Image URL
Photographer_Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,Asia,https://public.flourish.studio/country-flags/s...
Armenia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,Asia,https://public.flourish.studio/country-flags/s...
Argentina,0,0,0,0,0,0,0,0,0,0,...,16,17,17,17,17,18,19,20,Americas,https://public.flourish.studio/country-flags/s...
Austria,0,1,1,1,1,2,2,2,2,2,...,6,6,6,6,6,6,6,6,Europe,https://public.flourish.studio/country-flags/s...
Australia,0,0,0,0,0,0,0,0,0,0,...,28,29,30,31,32,33,34,35,Oceania,https://public.flourish.studio/country-flags/s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,Americas,https://public.flourish.studio/country-flags/s...
Venezuela (Bolivarian Republic of),0,0,0,0,0,1,1,1,1,1,...,1,1,2,2,2,2,2,3,Unknown,Unknown
Viet Nam,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,Unknown,Unknown
South Africa,0,0,0,0,0,0,0,0,0,0,...,22,23,23,24,25,25,25,26,Africa,https://public.flourish.studio/country-flags/s...
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,Africa,https://public.flourish.studio/country-flags/s...

In [18]:
df.to_csv('my_data2.csv', index=True)

**Photograhper**

In [37]:
grahper_count = pd.read_csv("df_filtered_final_pro.csv", encoding="UTF-8")

In [38]:
grahper_count = grahper_count.loc[:, ['Photographer', 'Photographer_Country']]
grahper_count

             Photographer Photographer_Country
0            Mogens Haven                   DK
1          Helmuth Pirath                   DE
2           Louis Garnade                   GB
3         Antoine Rulmont                   BE
4            Franz Votava                   AT
...                   ...                  ...
2875  HannahReyes Morales                   PH
2876        Cesar Dezfuli                   ES
2877        Mauk Kham Wah                   MM
2878      Johanna Alarcón                   EC
2879        Mohamed Mahdy                   EG

[2880 rows x 2 columns]

In [39]:
# Group count for Photographer and Photographer_Country columns
grahper_count = grahper_count.groupby(['Photographer', 'Photographer_Country']).size().reset_index(name='Count')

# Arrange in reverse order according to the counting results of photographers, and view the top 20 most photographers
grahper_count = grahper_count.sort_values(by=['Count'], ascending=False).head(20)

In [40]:
grahper_count

             Photographer Photographer_Country  Count
393           Eddie Adams                   US     31
701        James Nachtwey                   US     22
120          Anthony Suau                   US     19
347         David Turnley                   US     13
585          Gérard Klijn                   NL     13
192         Brent Stirton                   ZA     13
1472    Sven-Erik Sj?berg              Unknown     11
1198      Paolo Pellegrin                   IT     10
221            Carol Guzy                   US     10
813             José Azel                   CU     10
9             Adam Pretty                   AU     10
1511          Tim Clayton                   AU      9
331    David Guttenfelder                   US      9
756           Jodi Bieber                   ZA      9
622     Henning Christoph                   US      9
323         David Burnett                   US      9
706            Jan Grarup                   DK      9
496      Francesco Zizola                   IT      9
381   Donald Miralle, Jr.                   US      8
657            Imre Benk?              Unknown      8

In [41]:
grahper_count.to_csv('Top20', index=True)